<a href="https://colab.research.google.com/github/Joanna0512/smog_krakowski/blob/main/smog_w_krakowie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

1 Za≈Çadowanie pliku

In [15]:
!unzip -q "/content/archive (2).zip" -d data/

replace data/april-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/august-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/december-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/february-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/january-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/july-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/june-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/march-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/may-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/november-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/october-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/sensor_locations.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
replace data/september-2017.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y

In [16]:
all_file_names = glob.glob("data/*2017.csv")

In [20]:
all_file_names

['data/april-2017.csv',
 'data/august-2017.csv',
 'data/december-2017.csv',
 'data/february-2017.csv',
 'data/january-2017.csv',
 'data/july-2017.csv',
 'data/june-2017.csv',
 'data/march-2017.csv',
 'data/may-2017.csv',
 'data/november-2017.csv',
 'data/october-2017.csv',
 'data/september-2017.csv']

In [28]:
jan = pd.read_csv('/content/data/january-2017.csv')
feb = pd.read_csv('/content/data/february-2017.csv')
mar = pd.read_csv('/content/data/march-2017.csv')
apr = pd.read_csv('/content/data/april-2017.csv')
may = pd.read_csv('/content/data/may-2017.csv')
jun = pd.read_csv('/content/data/june-2017.csv')
jul = pd.read_csv('/content/data/july-2017.csv')
aug = pd.read_csv('/content/data/august-2017.csv')
sep = pd.read_csv('/content/data/september-2017.csv')
octo = pd.read_csv('/content/data/october-2017.csv')
nov = pd.read_csv('/content/data/november-2017.csv')
dec = pd.read_csv('/content/data/december-2017.csv')
sensor_loc = pd.read_csv('/content/data/sensor_locations.csv')

In [36]:
jan.sample(5)

,UTC time,3_temperature,3_humidity,3_pressure,3_pm1,3_pm25,3_pm10,140_temperature,140_humidity,140_pressure,...,857_pressure,857_pm1,857_pm25,857_pm10,895_temperature,895_humidity,895_pressure,895_pm1,895_pm25,895_pm10
599,2017-01-25T23:00:00,NaN,NaN,102221.0,153.0,174.0,234.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
487,2017-01-21T07:00:00,NaN,NaN,102276.0,72.0,75.0,111.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,2017-01-08T12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,2017-01-27T01:00:00,NaN,NaN,102904.0,171.0,191.0,268.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2017-01-13T13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
jan.shape

(744, 337)

In [54]:
jan.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 337 columns):
 #    Column           Non-Null Count  Dtype
---   ------           --------------  -----
 0    UTC time         744 non-null    object
 1    3_temperature    18 non-null     float64
 2    3_humidity       18 non-null     float64
 3    3_pressure       335 non-null    float64
 4    3_pm1            335 non-null    float64
 5    3_pm25           335 non-null    float64
 6    3_pm10           335 non-null    float64
 7    140_temperature  0 non-null      float64
 8    140_humidity     0 non-null      float64
 9    140_pressure     0 non-null      float64
 10   140_pm1          0 non-null      float64
 11   140_pm25         0 non-null      float64
 12   140_pm10         0 non-null      float64
 13   142_temperature  691 non-null    float64
 14   142_humidity     691 non-null    float64
 15   142_pressure     691 non-null    float64
 16   142_pm1          666 non-null    float64
 17   142_pm25         666 non-null    float64
 18   142_pm10         666 non-null    float64
 19   147_temperature  743 non-null    float64
 20   147_humidity     743 non-null    float64
 21   147_pressure     743 non-null    float64
 22   147_pm1          743 non-null    float64
 23   147_pm25         743 non-null    float64
 24   147_pm10         743 non-null    float64
 25   169_temperature  632 non-null    float64
 26   169_humidity     632 non-null    float64
 27   169_pressure     632 non-null    float64
 28   169_pm1          632 non-null    float64
 29   169_pm25         632 non-null    float64
 30   169_pm10         632 non-null    float64
 31   170_temperature  744 non-null    int64
 32   170_humidity     744 non-null    int64
 33   170_pressure     744 non-null    int64
 34   170_pm1          744 non-null    int64
 35   170_pm25         744 non-null    int64
 36   170_pm10         744 non-null    int64
 37   171_temperature  743 non-null    float64
 38   171_humidity     743 non-null    float64
 39   171_pressure     743 non-null    float64
 40   171_pm1          743 non-null    float64
 41   171_pm25         743 non-null    float64
 42   171_pm10         743 non-null    float64
 43   172_temperature  0 non-null      float64
 44   172_humidity     0 non-null      float64
 45   172_pressure     743 non-null    float64
 46   172_pm1          743 non-null    float64
 47   172_pm25         743 non-null    float64
 48   172_pm10         743 non-null    float64
 49   173_temperature  617 non-null    float64
 50   173_humidity     617 non-null    float64
 51   173_pressure     744 non-null    int64
 52   173_pm1          744 non-null    int64
 53   173_pm25         744 non-null    int64
 54   173_pm10         744 non-null    int64
 55   174_temperature  738 non-null    float64
 56   174_humidity     738 non-null    float64
 57   174_pressure     738 non-null    float64
 58   174_pm1          738 non-null    float64
 59   174_pm25         738 non-null    float64
 60   174_pm10         738 non-null    float64
 61   176_temperature  744 non-null    int64
 62   176_humidity     744 non-null    int64
 63   176_pressure     0 non-null      float64
 64   176_pm1          744 non-null    int64
 65   176_pm25         744 non-null    int64
 66   176_pm10         744 non-null    int64
 67   177_temperature  741 non-null    float64
 68   177_humidity     741 non-null    float64
 69   177_pressure     0 non-null      float64
 70   177_pm1          741 non-null    float64
 71   177_pm25         741 non-null    float64
 72   177_pm10         741 non-null    float64
 73   178_temperature  545 non-null    float64
 74   178_humidity     545 non-null    float64
 75   178_pressure     0 non-null      float64
 76   178_pm1          545 non-null    float64
 77   178_pm25         545 non-null    float64
 78   178_pm10         545 non-null    float64
 79   179_temperature  743 non-null    float64
 80   179_humidity     743 non-null    float64
 81   179_pressure     0 non-null      float64
 82   179_pm1          743 non-null    float64
 83   179_pm25         743 non-null    float64
 84   179_pm10         743 non-null    float64
 85   180_temperature  726 non-null    float64
 86   180_humidity     726 non-null    float64
 87   180_pressure     0 non-null      float64
 88   180_pm1          727 non-null    float64
 89   180_pm25         727 non-null    float64
 90   180_pm10         727 non-null    float64
 91   181_temperature  555 non-null    float64
 92   181_humidity     555 non-null    float64
 93   181_pressure     0 non-null      float64
 94   181_pm1          555 non-null    float64
 95   181_pm25         555 non-null    float64
 96   181_pm10         555 non-null    float64
 97   182_temperature  740 non-null    float64
 98   182_humidity     740 non-null    float64
 99   182_pressure     0 non-null      float64
 100  182_pm1          740 non-null    float64
 101  182_pm25         740 non-null    float64
 102  182_pm10         740 non-null    float64
 103  183_temperature  743 non-null    float64
 104  183_humidity     743 non-null    float64
 105  183_pressure     0 non-null      float64
 106  183_pm1          743 non-null    float64
 107  183_pm25         743 non-null    float64
 108  183_pm10         743 non-null    float64
 109  184_temperature  653 non-null    float64
 110  184_humidity     653 non-null    float64
 111  184_pressure     0 non-null      float64
 112  184_pm1          654 non-null    float64
 113  184_pm25         654 non-null    float64
 114  184_pm10         654 non-null    float64
 115  185_temperature  722 non-null    float64
 116  185_humidity     722 non-null    float64
 117  185_pressure     0 non-null      float64
 118  185_pm1          725 non-null    float64
 119  185_pm25         725 non-null    float64
 120  185_pm10         725 non-null    float64
 121  187_temperature  742 non-null    float64
 122  187_humidity     742 non-null    float64
 123  187_pressure     742 non-null    float64
 124  187_pm1          742 non-null    float64
 125  187_pm25         742 non-null    float64
 126  187_pm10         742 non-null    float64
 127  189_temperature  731 non-null    float64
 128  189_humidity     731 non-null    float64
 129  189_pressure     731 non-null    float64
 130  189_pm1          731 non-null    float64
 131  189_pm25         731 non-null    float64
 132  189_pm10         731 non-null    float64
 133  192_temperature  739 non-null    float64
 134  192_humidity     739 non-null    float64
 135  192_pressure     739 non-null    float64
 136  192_pm1          739 non-null    float64
 137  192_pm25         739 non-null    float64
 138  192_pm10         739 non-null    float64
 139  194_temperature  541 non-null    float64
 140  194_humidity     540 non-null    float64
 141  194_pressure     539 non-null    float64
 142  194_pm1          540 non-null    float64
 143  194_pm25         539 non-null    float64
 144  194_pm10         539 non-null    float64
 145  195_temperature  184 non-null    float64
 146  195_humidity     184 non-null    float64
 147  195_pressure     184 non-null    float64
 148  195_pm1          184 non-null    float64
 149  195_pm25         184 non-null    float64
 150  195_pm10         184 non-null    float64
 151  196_temperature  743 non-null    float64
 152  196_humidity     743 non-null    float64
 153  196_pressure     0 non-null      float64
 154  196_pm1          743 non-null    float64
 155  196_pm25         743 non-null    float64
 156  196_pm10         743 non-null    float64
 157  201_temperature  743 non-null    float64
 158  201_humidity     743 non-null    float64
 159  201_pressure     0 non-null      float64
 160  201_pm1          743 non-null    float64
 161  201_pm25         743 non-null    float64
 162  201_pm10         743 non-null    float64
 163  202_temperature  744 non-null    int64
 164  202_humidity     744 non-null    int64
 165  202_pressure     744 non-null    int64
 166  202_pm1          744 non-null    int64
 167  202_pm25         744 non-null    int64
 168  202_pm10         744 non-null    int64
 169  203_temperature  721 non-null    float64
 170  203_humidity     721 non-null    float64
 171  203_pressure     0 non-null      float64
 172  203_pm1          721 non-null    float64
 173  203_pm25         721 non-null    float64
 174  203_pm10         721 non-null    float64
 175  204_temperature  743 non-null    float64
 176  204_humidity     743 non-null    float64
 177  204_pressure     743 non-null    float64
 178  204_pm1          743 non-null    float64
 179  204_pm25         743 non-null    float64
 180  204_pm10         743 non-null    float64
 181  205_temperature  379 non-null    float64
 182  205_humidity     379 non-null    float64
 183  205_pressure     0 non-null      float64
 184  205_pm1          379 non-null    float64
 185  205_pm25         379 non-null    float64
 186  205_pm10         379 non-null    float64
 187  208_temperature  743 non-null    float64
 188  208_humidity     743 non-null    float64
 189  208_pressure     743 non-null    float64
 190  208_pm1          743 non-null    float64
 191  208_pm25         743 non-null    float64
 192  208_pm10         743 non-null    float64
 193  209_temperature  744 non-null    int64
 194  209_humidity     744 non-null    int64
 195  209_pressure     744 non-null    int64
 196  209_pm1          744 non-null    int64
 197  209_pm25         744 non-null    int64
 198  209_pm10         744 non-null    int64
 199  210_temperature  744 non-null    int64
 200  210_humidity     744 non-null    int64
 201  210_pressure     744 non-null    int64
 202  210_pm1          744 non-null    int64
 203  210_pm25         744 non-null    int64
 204  210_pm10         744 non-null    int64
 205  211_temperature  743 non-null    float64
 206  211_humidity     743 non-null    float64
 207  211_pressure     743 non-null    float64
 208  211_pm1          743 non-null    float64
 209  211_pm25         743 non-null    float64
 210  211_pm10         743 non-null    float64
 211  212_temperature  743 non-null    float64
 212  212_humidity     743 non-null    float64
 213  212_pressure     743 non-null    float64
 214  212_pm1          743 non-null    float64
 215  212_pm25         743 non-null    float64
 216  212_pm10         743 non-null    float64
 217  213_temperature  743 non-null    float64
 218  213_humidity     743 non-null    float64
 219  213_pressure     743 non-null    float64
 220  213_pm1          743 non-null    float64
 221  213_pm25         743 non-null    float64
 222  213_pm10         743 non-null    float64
 223  214_temperature  744 non-null    int64
 224  214_humidity     744 non-null    int64
 225  214_pressure     744 non-null    int64
 226  214_pm1          744 non-null    int64
 227  214_pm25         744 non-null    int64
 228  214_pm10         744 non-null    int64
 229  215_temperature  743 non-null    float64
 230  215_humidity     743 non-null    float64
 231  215_pressure     743 non-null    float64
 232  215_pm1          743 non-null    float64
 233  215_pm25         743 non-null    float64
 234  215_pm10         743 non-null    float64
 235  216_temperature  703 non-null    float64
 236  216_humidity     703 non-null    float64
 237  216_pressure     703 non-null    float64
 238  216_pm1          703 non-null    float64
 239  216_pm25         703 non-null    float64
 240  216_pm10         703 non-null    float64
 241  218_temperature  744 non-null    int64
 242  218_humidity     744 non-null    int64
 243  218_pressure     744 non-null    int64
 244  218_pm1          744 non-null    int64
 245  218_pm25         744 non-null    int64
 246  218_pm10         744 non-null    int64
 247  219_temperature  722 non-null    float64
 248  219_humidity     722 non-null    float64
 249  219_pressure     722 non-null    float64
 250  219_pm1          722 non-null    float64
 251  219_pm25         722 non-null    float64
 252  219_pm10         722 non-null    float64
 253  220_temperature  743 non-null    float64
 254  220_humidity     743 non-null    float64
 255  220_pressure     743 non-null    float64
 256  220_pm1          743 non-null    float64
 257  220_pm25         743 non-null    float64
 258  220_pm10         743 non-null    float64
 259  221_temperature  744 non-null    int64
 260  221_humidity     744 non-null    int64
 261  221_pressure     744 non-null    int64
 262  221_pm1          744 non-null    int64
 263  221_pm25         744 non-null    int64
 264  221_pm10         744 non-null    int64
 265  222_temperature  743 non-null    float64
 266  222_humidity     743 non-null    float64
 267  222_pressure     743 non-null    float64
 268  222_pm1          743 non-null    float64
 269  222_pm25         743 non-null    float64
 270  222_pm10         743 non-null    float64
 271  223_temperature  744 non-null    int64
 272  223_humidity     744 non-null    int64
 273  223_pressure     744 non-null    int64
 274  223_pm1          744 non-null    int64
 275  223_pm25         744 non-null    int64
 276  223_pm10         744 non-null    int64
 277  225_temperature  728 non-null    float64
 278  225_humidity     728 non-null    float64
 279  225_pressure     728 non-null    float64
 280  225_pm1          728 non-null    float64
 281  225_pm25         728 non-null    float64
 282  225_pm10         728 non-null    float64
 283  226_temperature  744 non-null    int64
 284  226_humidity     744 non-null    int64
 285  226_pressure     744 non-null    int64
 286  226_pm1          744 non-null    int64
 287  226_pm25         744 non-null    int64
 288  226_pm10         744 non-null    int64
 289  227_temperature  685 non-null    float64
 290  227_humidity     685 non-null    float64
 291  227_pressure     689 non-null    float64
 292  227_pm1          689 non-null    float64
 293  227_pm25         689 non-null    float64
 294  227_pm10         689 non-null    float64
 295  228_temperature  744 non-null    int64
 296  228_humidity     744 non-null    int64
 297  228_pressure     744 non-null    int64
 298  228_pm1          744 non-null    int64
 299  228_pm25         744 non-null    int64
 300  228_pm10         744 non-null    int64
 301  263_temperature  743 non-null    float64
 302  263_humidity     743 non-null    float64
 303  263_pressure     743 non-null    float64
 304  263_pm1          743 non-null    float64
 305  263_pm25         743 non-null    float64
 306  263_pm10         743 non-null    float64
 307  622_temperature  0 non-null      float64
 308  622_humidity     0 non-null      float64
 309  622_pressure     0 non-null      float64
 310  622_pm1          0 non-null      float64
 311  622_pm25         0 non-null      float64
 312  622_pm10         0 non-null      float64
 313  713_temperature  0 non-null      float64
 314  713_humidity     0 non-null      float64
 315  713_pressure     0 non-null      float64
 316  713_pm1          0 non-null      float64
 317  713_pm25         0 non-null      float64
 318  713_pm10         0 non-null      float64
 319  808_temperature  0 non-null      float64
 320  808_humidity     0 non-null      float64
 321  808_pressure     0 non-null      float64
 322  808_pm1          0 non-null      float64
 323  808_pm25         0 non-null      float64
 324  808_pm10         0 non-null      float64
 325  857_temperature  0 non-null      float64
 326  857_humidity     0 non-null      float64
 327  857_pressure     0 non-null      float64
 328  857_pm1          0 non-null      float64
 329  857_pm25         0 non-null      float64
 330  857_pm10         0 non-null      float64
 331  895_temperature  0 non-null      float64
 332  895_humidity     0 non-null      float64
 333  895_pressure     0 non-null      float64
 334  895_pm1          0 non-null      float64
 335  895_pm25         0 non-null      float64
 336  895_pm10         0 non-null      float64
dtypes: float64(267), int64(69), object(1)
memory usage: 1.9+ MB

<ipython-input-54-59cf63e7900f>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  jan.info(verbose=True, null_counts=True)

In [ ]:
feb.info(verbose=True, null_counts=True)

In [41]:
feb.shape

(672, 337)

In [37]:
sensor_loc.head()

    id   latitude  longitude
0    3  50.057748  19.961375
1  140  50.057747  19.961374
2  142  50.084816  19.878066
3  147  50.048924  19.962262
4  169  50.048699  20.101569

In [38]:
sensor_loc.shape

(56, 3)

*Mamy 57 czytnik√≥w sensorycznych

2 Tworzymy jeden df dla wszystkich miesiƒôcy

In [48]:
year = pd.concat([jan, feb, mar, apr, may, jun, jul, aug, sep, octo, nov, dec])

In [49]:
year.shape

(8593, 337)